<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/#/index">
    <img src="images/logo.png" height="35" class="d-inline-block align-top" alt="">
    Quinnipiac Computing Club
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/#/index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/careerResource">Career</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="events-tab" href="/#/events" ng-show="approvedBtns">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/officers">Officers</a>
      </li>
      <li class="nav-item">

        <a class="nav-link" href="/#/checklist" id="checklist-tab" ng-show="adminBtns">Checklist</a>

      </li>
    </ul>
    <form class="form-inline login-form">
      <a href="/#/login"><button class="btn btn-action" type="button" id="login-btn" ng-show="!loggedIn">Login</button></a>
    </form>
    <form class="form-inline signup-form">
       <a href="/#/apply"><button class="btn btn-action" type="button" id="apply-btn" ng-show="!loggedIn">Apply</button></a>
       <button class="btn btn-action" type="button" ng-click="signout()" id="signout-btn" ng-show="loggedIn">Sign Out</button>
    </form>

  </nav>
  <div class="content">

    <div class="row">
      <h1 class="gen-text" id="membershipH">Add Event</h1>
    </div>

    <div class="container info-box" id="formContainer">
      <form>
        <div class="row">
          <div class="col">
              <label for="exampleFormControlInput1" class="gen-text">Name</label>
            <input type="text" ng-model="name" class="form-control" placeholder="Event name" id="eventname">
          </div>
          <div class="col">
              <label for="exampleFormControlInput1" class="gen-text">Headline</label>
            <input type="text"  ng-model="headline" class="form-control" placeholder="Featured description" id="headline">
          </div>
        </div>
        <div class="form-group" id="padding">
          <label for="exampleFormControlInput1" class="gen-text">Description</label>
          <textarea type="text"  ng-model="desc" class="form-control" id="desc" placeholder="Describe the event in detail" > </textarea>
        </div>
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1" class="gen-text">Date & Time</label>
            <input type="text" ng-model="datetime" class="form-control" placeholder="Dec 29 2011 20:14:56" id="datetime">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="gen-text">Location</label>
            <input type="text" ng-model="location" class="form-control" placeholder="CCE-030" id="location">
          </div>
        </div>

        <div class="row" id="padding">
          <button type="button" class="btn btn-primary" id="middle" ng-click="addEvent()">Add Event</button>

        </div>
      </form>
    </div>

    </div>

    <script>
        $(function(){
          reload();
        });

  </script>

  <!-- Footer -->
  <footer class="footer">
      <span><i class="far fa-copyright"></i>Quinnipiac Computing Club</span>
      <a href="https://www.facebook.com/groups/QuinnipiacComputingClub/" class="fb-link"><i class="fab fa-facebook-square"></i>Join us on Facebook</a>
  </footer>
