<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/#/index">
    <img src="images/logo.png" height="35" class="d-inline-block align-top" alt="">
    Quinnipiac Computing Club
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/#/index">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/careerResource">Career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="events-tab" href="/#/events" ng-show="approvedBtns">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/officers">Officers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/#/checklist" id="checklist-tab" ng-show="adminBtns">Checklist</a>
      </li>
    </ul>
    <form class="form-inline login-form">
      <a href="/#/login"><button class="btn btn-action" type="button" id="login-btn" ng-show="!loggedIn">Login</button></a>
    </form>
    <form class="form-inline signup-form">
       <a href="/#/apply"><button class="btn btn-action" type="button" id="apply-btn" ng-show="!loggedIn">Apply</button></a>
       <button class="btn btn-action" type="button" ng-click="signout()" id="signout-btn" ng-show="loggedIn">Sign Out</button>
    </form>

  </nav>

    <div class="row">
      <button class="btn btn-action" id="addChecklistBtn" type="button" ng-click="goToAddChecklist()">Add New Checklist</button>
    </div>
    <div class="myContainer" ng-repeat="checklist in checklists">
      <div class="task__head task--row" id="checklistTitle">{{checklist.title}}</div>
      <div class="task--rowComplete" id="checklistComplete">Checklist Completed: {{checklist.completed}}</div>
      <form action="">
        <div class="task__list">
          <label for="task--1" class="task"><input class="task__check" type="checkbox" id="task--1" />
            <div ng-repeat="task in checklist.tasks">
              <div class="task__field task--row" id="checklistTasks">{{task}}<button class="task__important"><i class="fa fa-check" aria-hidden="true"></i></button></div>
            </div>
          </label>
        </div>
        <div class="task--row task__footer">
          <button class="task__add" value="Edit Checklist" type="button" ng-click="editChecklist(checklist)"> Update Checklist </button>
        </div>
        <div class="task--row task__footerDelete">
          <button class="task__delete" value="Delete Checklist" type="button" ng-click="deleteChecklist(checklist)"> Delete Checklist </button>
        </div>
      </form>
    </div>
    <!-- Footer -->
    <footer class="footer">
      <span><i class="far fa-copyright"></i>Quinnipiac Computing Club</span>
      <a href="https://www.facebook.com/groups/QuinnipiacComputingClub/" class="fb-link"><i class="fab fa-facebook-square"></i>Join us on Facebook</a>
    </footer>
    <script src="js/check.js"></script>
